.about {
  padding: 2rem 0;
}

.secContainer .title {
  color: var(--PrimaryColor);
  line-height: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.secContainer .mainContent {
  gap: 1rem;
}

.singleItem {
  text-align: center;
}

.singleItem img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding-left: 1rem;
}

.singleItem h3 {
  font-weight: 700;
  color: var(--blackColor);
  padding: 0.5rem;
}

.singleItem p {
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--textColor);
  padding: 0 1.5rem;
}

.videoCard {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.609)),
    url(../../Assets/bghome.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .videoCard video {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.cardContent {
  gap: 2rem;
  padding: 2rem 1rem;
}

.cardText h2 {
  color: var(--whiteColor);
  font-weight: 600;
  padding-bottom: 1rem;
}

.cardText p {
  color: var(--whiteColor);
  opacity: 0.7;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ================Media Queries============== */
@media screen and (min-width: 720px) {
  .cardContent {
    gap: 4rem;
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .cardText h2 {
    font-size: 2rem;
  }
  .cardText p {
    opacity: 0.7;
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .mainContent {
    padding: 2.5rem 0;
  }
}
