.home {
  height: 80vh;
  background: linear-gradient(rgba(33, 33, 33, 0.384), rgba(33, 33, 33, 0.871)),
    url("../../Assets/bgHome.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.secContainer .homeText {
  text-align: center;
}

.homeText .title {
  color: var(--whiteColor);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.homeText .subtitle {
  color: var(--whiteColor);
  opacity: 0.9;
  font-size: 13px;
  font-weight: 300;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
}

.homeText .btn {
  padding: 0.6rem 1.5rem;
  border: 1px solid transparent;
}

.homeText .btn:hover {
  background: var(--HoverColor);
  border: 1px solid black;
}

.secContainer .homeCard {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--whiteColor);
  position: absolute;
  gap: 1rem;
  justify-content: center;
  bottom: -35%;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}

.locationDiv,
.distDiv,
.priceDiv {
  width: 100%;
}

.locationDiv,
.distDiv,
.priceDiv label {
  display: block;
  color: var(--textColor);
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 0.4rem;
}

input {
  width: 100%;
  background: var(--inputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

input::placeholder {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}

.homeCard .btn {
  width: 100%;
  padding: 0.6rem 1.5rem;
  color: var(--whiteColor);
  font-weight: 600;
}
