/* Colors */
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 96%, 41%);
  --whiteColor: hsl(0, 6%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(0, 0%, 29%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navBarSection .header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.logo {
  color: var(--whiteColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--PrimaryColor);
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .navBar {
    background: var(--greyBg);
    position: absolute;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 100;
  }

  .navlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .navItem {
    padding: 0.5rem 0;
    /* on the wide screen padding should be 0 1rem */
  }

  .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navLink:hover {
    color: var(--PrimaryColor);
  }

  .headerBtns {
    flex-direction: column;
  }

  .btn {
    margin-top: 1rem;
  }

  .btn a {
    font-weight: 600;
  }

  /* .btn a:hover {
    background: var(--whiteColor);
  } */

  .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }

  .loginBtn a {
    color: var(--PrimaryColor);
  }

  .loginBtn:hover {
    background: var(--PrimaryColor);
  }

  .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }

  .closeNavbar:hover .icon {
    /* color: var(--PrimaryColor); */
    color: var(--HoverColor);
  }

  .activeNavbar {
    left: 0;
  }
}

.toggleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}

.toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
