:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 6%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  /* --boxShadow:  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334); */
}

.footer {
  background: var(--greyBg);
  padding: 2rem 0;
}

.footer .secContainer {
  gap: 1.5rem;
  text-align: center;
}

.footerLogo {
  padding-bottom: 0.5rem;
}

.footerLogo .logo {
  color: var(--blackColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  margin-right: 0.5rem;
}

.socials {
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
}

.socials .icon {
  font-size: 30px;
  background: var(--PrimaryColor);
  border-radius: 50%;
  padding: 8px;
  color: var(--whiteColor);
}

.socials .icon:hover {
  background: var(--blackColor);
}

.footerLinks {
  display: grid;
  row-gap: 1rem;
}

.footerLinks .linkTitle {
  padding-bottom: 0.5rem;
  color: var(--blackColor);
  font-weight: 700;
}

li:hover {
  transform: translateX(10px);
}

li:hover a {
  color: var(--PrimaryColor);
}

a,
.phone,
.email {
  color: var(--textColor);
  font-size: 13px;
  font-weight: 500;
}
