.popular {
  padding-top: 15rem;
}

.popular .secHeader {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.popular .textDiv .secTitle {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.popular .textDiv p {
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}

.popular .iconsDiv {
  gap: 0.5rem;
}

.popular.iconsDiv .icon {
  padding: 0.5rem;
  background: var(--greyText);
  border-radius: 50%;
  font-size: 2.5rem;
}

.iconsDiv .icon:hover {
  background: var(--blackColor);
  column-rule: var(--whiteColor);
}

.popular .secHeader .leftIcon {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.secHeader .rightIcon {
  color: var(--blackColor);
}

.secHeader .rightIcon:hover {
  background-color: var(--PrimaryColor);
}

.secHeader .leftIcon:hover {
  background-color: var(--PrimaryColor);
}

.popular .mainContent {
  padding: 2rem 0;
  gap: 1rem;
}

.popular .mainContent .singleDestination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(138, 138, 138, 0.536);
}

.destImage {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.destImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlayinfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0;

  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.425));
  bottom: 0;
  width: 100%;

  height: 0%;

  overflow: hidden;
}

.overlayinfo h3 {
  color: var(--whiteColor);
  font-weight: 600;
}

.overlayinfo p {
  color: var(--whiteColor);
  opacity: 0.8;
  font-size: 14px;
}

.overlayinfo .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5rem;
  background: var(--PrimaryColor);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--whiteColor);
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.overlayinfo .icon:hover {
  negative: var(--blackColor);
  border: 1px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
}

.destImage:hover .overlayinfo {
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}
.destFooter {
  padding: 1rem;
}

.destFooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blackColor);
  position: relative;
  width: max-content;
  margin: 0;
}

.destFooter .number::after {
  content: "";
  position: absolute;
  background: var(--PrimaryColor);
  top: 45%;
  right: -150%;
  height: 5px;
  width: 45px;
  border-radius: 1rem;
}

.destFooter .destText {
  justify-content: space-between;
}

.destText h6 {
  color: var(--blackColor);
  font-size: 15px;
}

.destFooter .flex {
  font-size: 16px;
  font-weight: 600;
  align-items: flex-start;
  transform: translateY(5px);
}

.destFooter .icon {
  color: var(--PrimaryColor);
}

@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem !important;
  }
}

@media screen and (min-width: 556px) {
  .popular .secHeader {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .textDiv {
    text-align: start;
    max-width: 70% !important;
  }

  .iconsDiv {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 556px) {
  .popular {
    padding-top: 7rem;
  }
}

@media screen and (min-width: 1024px) {
  .popular {
    padding-top: 10rem;
  }

  .secTitle {
    font-size: 2.2rem;
  }

  .textDiv p {
    font-size: 15px;
  }
  .popular .mainContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem !important;
  }
}
